<div class="container">
	<div class="row">
		<div class="col-md-12">
			
			<!-- User Management -->
			<h1>User Management</h1>
				<ul>
					<li ng-repeat="user in users" style="list-style-type:none">
						<h3>{{ user.email }}</h3>
						<button class="btn btn-success">Make Admin</button>
						<button class="btn btn-danger">Delete User</button>
						<button class="btn btn-warning">Trigger Password Reset</button>
					</li>
				</ul>

			<!-- Product Management -->
			<h1>Product Management</h1>
			<div class="well">
				<h3>Add New Product</h3>
				<form name="new-product">
					<div class="form-group">
						<label for="add-name">Product Name</label>
						<input class="form-control" id="add-name" />
					</div>
					<div class="form-group">
						<label for="add-desc">Product Description</label>
						<input class="form-control" id="add-desc" />
					</div>
					<div class="form-group">
						<label for="add-category">Product Category</label>
						<input class="form-control" id="add-category" />
					</div>
					<div class="form-group">
						<label for="add-quantity">Product Quantity</label>
						<input class="form-control" id="add-quantity" />
					</div>
					<div class="form-group">
						<label for="add-image">Product Images</label>
						<input class="form-control" id="add-image" />
					</div>
					<button type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
				<h3>Edit Existing Products</h3>
					<ul>
							<li ng-repeat="product in products" style="list-style-type:none">
								<div class="well">
									<h5><span contenteditable>{{ product.name }}</span></h5>
									<p>Description: <span contenteditable>{{ product.description }}</span><p>
									<p>Categories: 
										<span ng-repeat="category in product.category">
											<span contenteditable> {{ category }}</span>
											<span class="remove-x">  X  </span>
										</span>
									</p>
									<p>Price: <span contenteditable>{{ product.price }}</span></p>
									<p>Quantity: <span contenteditable>{{ product.numRemaining }}</span></p>
									<p>Pictures: 
										<span ng-repeat="image in product.images">
											<img src="{{image}}" style="height:100px;width:100px"/>
											<span class="remove-x">  X  </span>
										</span>
									</p>
									<div class="form-group">
										<label for="add-new-image">Add New Image Url</label>
										<input class="form-control" id="add-new-image" />
									</div>
									<div class="form-group">
										<label for="add-new-category">Add New Category</label>
										<input class="form-control" id="add-new-category" />
									</div>
									<a class="btn btn-success">Save Changes</a>
								</div>

							</li>
					</ul>

			<!-- Order Management -->
			<h1>Order Management</h1>
			<div class='form-group'>
				<label for="status">Filter orders by status</label>
				<input ng-model="_status" id="status" class="form-control">
			</div>

			<ul>
				<li ng-repeat="order in orders | filter:{status:_status}" style="list-style:none">
					<div class="well">
					<ul>
						<li style="list-style:none;display:inline">
							<a ng-click="changeStatus(order._id, {status:'Created'})" class="btn btn-xs btn-info">Created</a>
						</li>
						<li style="list-style:none;display:inline">
							<a class="btn btn-xs btn-primary">Processing</a>
						</li>
						<li style="list-style:none;display:inline">
							<a class="btn btn-xs btn-success">Completed</a>
						</li>
						<li style="list-style:none;display:inline">
							<a class="btn btn-xs btn-danger">Canceled</a>
						</li>
					</ul>
					<p>User: <span>{{order.user.email}}</span></p>
					<p>Status: <span>{{order.status}}</span></p>
					<p>Date Issued: <span>{{order.dateIssued}}</span></p>
					<p>Items: 
						<span ng-repeat="item in order.items">
							<span>
								<p>Product Name: {{item.product.name}}</p>
								<p>Quantity: {{item.quantity}}</p>
								<p>Price when ordered: {{item.priceWhenOrdered}}</p>
							</span>
						</span>
					</p>
					</div>
				</li>
			</ul>
				

		</div>
	</div>
</div>






