<!-- Order Management -->
<h1>Order Management</h1>
<div class='form-group'>
	<a ng-click="_status=''" class="btn btn-info">View All Orders</a>
	<a ng-click="_status='Created'" class="btn btn-info">View Created Orders</a>
	<a ng-click="_status='Processing'" class="btn btn-info">View Processing Orders</a>
	<a ng-click="_status='Completed'" class="btn btn-info">View Completed Orders</a>
	<a ng-click="_status='Cancelled'" class="btn btn-info">View Canceled Orders</a>
</div>

<ul>
	<li ng-repeat="order in orders| filter:{status:_status}" style="list-style:none">
		<div class = "well">
			<ul>
				<p><b>Modify order status:</b></p>
				<li style="list-style:none;display:inline">
					<a ng-click="changeOrderStatus(order._id, {status:'Created'})" class="btn btn-xs btn-info">Created</a>
				</li>
				<li style="list-style:none;display:inline">
					<a ng-click="changeOrderStatus(order._id, {status:'Processing'})" class="btn btn-xs btn-primary">Processing</a>
				</li>
				<li style="list-style:none;display:inline">
					<a ng-click="changeOrderStatus(order._id, {status:'Completed'})" class="btn btn-xs btn-success">Completed</a>
				</li>
				<li style="list-style:none;display:inline">
					<a ng-click="changeOrderStatus(order._id, {status:'Cancelled'})" class="btn btn-xs btn-danger">Cancelled</a>
				</li>
			</ul>

			<ul style="list-style:none">
				<li>User : {{ order.user.email }}</li>
				<li>Order made on : {{ order.dateIssued }}</li>
				<li>Order status : {{ order.status }}</li>
				<li>Shipping details : {{ order.shippingDetails }}</li>
					<ul style="list-style:none">
						<li ng-repeat="item in order.items">
							<div class="well">
							 	<div> Product: <a ui-sref="product({pid:item.product._id })">{{ item.product.name }}</a> </div> 
							 	<div> Quantity: {{ item.quantity }} </div> 
							 	<div> Price: {{ item.priceWhenOrdered }} </div>
							 </div>
						</li>
					</ul>
				<li> Total Price is: {{getTotalOrderCost(order)}} </li>
			</ul>
		</div>
	</li>
</ul>

