<alert type="danger">HEY {{ user.email }}, CHANGE YOUR PASSWORD!</alert>
<form id="reset-form" name="resetForm" ng-submit="resetForm.$valid && resetLogin(details)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <alert type="warning" ng-show="(resetForm.newPasswordConfirm.$viewValue !== resetForm.newPassword.$viewValue) && resetForm.newPasswordConfirm.$dirty">
        Passwords do not match
    </alert>

    <alert type="success" ng-show="(resetForm.newPasswordConfirm.$viewValue === resetForm.newPassword.$viewValue) && resetForm.newPasswordConfirm.$dirty">
        Good to go!
    </alert>

    <div class="form-group">
        <label for="old-password">Old Password</label>
        <input type="password" ng-model="details.oldPassword" class="form-control" id="old-password" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="reset-password">Password</label>
        <input type="password" ng-model="details.newPassword" class="form-control" id="reset-password" placeholder="Password" name="newPassword">
    </div>
    <div class="form-group">
        <label for="confirm-password">Password</label>
        <input type="password" ng-valid="resetForm.newPasswordConfirm.$viewValue === resetForm.newPassword.$viewValue" ng-model="details.newPasswordConfirm" class="form-control" name="newPasswordConfirm" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default" 
    ng-disabled="((resetForm.newPasswordConfirm.$viewValue !== resetForm.newPassword.$viewValue) && resetForm.newPasswordConfirm.$dirty) || resetForm.newPasswordConfirm.$pristine">Submit</button>
</form>