<h1>profile.html</h1>
<h2>{{ user.email }}</h2>
<ul>
	<li ng-repeat="review in reviews">Review for {{ review.product.name }}: {{ review.content }}</li>
</ul>
	<li ng-repeat="order in orders">
		<ul>
			<li>Order made on {{ order.dateIssued }}</li>
			<li ng-repeat="item in order.items"> 
			 	<div> Product: {{ item.product.name }} </div> 
			 	<div> Quantity: {{ item.quantity }} </div> 
			 	<div> Price: {{ item.priceWhenOrdered }} </div>
			</li>
			<li> Total Price is: TO BE COMPLETED </li>
		</ul>
	</li>
</ul>