<section id="home">
    <div class="row">
        <div clas="col-md-12">
    <fullstack-logo></fullstack-logo>
        </div>
    </div>
    <div class="row">
        <div clas="col-md-12">    
    <rando-greeting></rando-greeting>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="search">Search Your Feelings:</label>
                <input type="text" ng-model="query.name" class="form-control" id="search" />
                <label for="category-select">Filter By Category:</label>
                <select class="form-control" ng-model="query.category" id="category-select">
            	   <option ng-repeat="product in products">{{ product.category }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <ul>
        	<li ng-repeat="product in products | filter: query" style="list-style-type:none;float:left;padding:5%">
        		<a ui-sref="product({pid: product._id})" style="text-decoration:none">
                    <h5>{{product.name}}</h5>
                    <img src="{{ product.images[0] }}" style="height:200px;width:200px"/>
                </a>
        	</li>
        </ul>
    </div>
</section>
